@use '../utils/mixin' as *;
@use '../utils/variables' as *;

.view-all {
  background-color: $but-orang;
  color: #fff;
  align-content: center;
  height: 56px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 96px;

  @include on-desktop {
    width: 40%;
  }
}
