@use '../utils/variables' as *;
@use '../utils/mixin' as *;

.header {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  background-image: url(/src/styles/img/background/background-top.png);
  background-size: cover;
  height: 100vh;
  background-position: center;

  @include content-padd;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      display: flex;
      align-items: center;
      max-width: 228px;
      max-height: 16px;
      width: 80%;

      &-img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    &-left {
      align-items: center;
      display: flex;
      gap: 24px;
      position: relative;
      
      &-tel {
        order: -1;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-10px); // Começa um pouco para a esquerda
        transition: all 0.3s ease; // Suaviza a aparição
        white-space: nowrap; // Impede que o número quebre linha
        color: #000;
      }

    }
  }

  &__title {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    line-height: 120%;
  }
}