@use '../utils/mixin' as *;
@use '../utils/variables' as *;

.icon {
  width: 24px;
  height: 24px;
  display: block;
}

.icon--phone {
  background-image: url(/src/styles/img/icon/icon-phone-call.png);

  @include on-desktop {
    &:hover+.header__top-left-tel {
      opacity: 1;
      visibility: visible;
    }
  }


}

.icon--menu {
  background-image: url(/src/styles/img/icon/icon-burger-menu.png);

  &:hover {
    background-image: url(/src/styles/img/icon/icon-burger-menu-hover.png);
  }
}

.icon--close {
  background-image: url(/src/styles/img/icon/icon-close.png);
  background-repeat: no-repeat;
  background-position: center;
}