@use '../utils/variables' as *;
@use '../utils/mixin' as *;

.contact__info {
  @include on-desktop {
    grid-column: 8/-1;
  }
}

.info {
  padding-inline: 20px;
  padding-bottom: 64px;

  &-title {
    color: $title-gray;
  }

  &-desc {
    color: $info-desc;
  }
}
