.menu {
  display: flex;
  flex-direction: column;
  background-image: url(img/background/background-top.png);
  background-position: center;
  background-size: cover;
  height: 568px;

  &__top-icons {
    padding: 20px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__top-left {
    display: flex;
    gap: 24px;
  }

  &__top-icon {
    width: 24px;
    height: 24px;

    &-tel {
      background-image: url(img/icon/icon-phone-call.png);
    }

    &-opt {
      background-image: url(img/icon/icon-burger-menu.png);

      &:hover{
        background-image: url(img/icon/icon-burger-menu-hover.png);
      }
    }
  }


  .menu-title {
    margin-top: auto;
    margin-inline: 20px;
    font-size: 32px;
    line-height: 1.2;
    color: #fff;
  }

 

}

 .page__menu{
    position: fixed;
    top:0;
    left:0;
    right:0;
    
    opacity:0;
    pointer-events: none;
    
    &:target{
      opacity: 1;
      pointer-events: all;
    }
  }