@use '../utils/variables' as *;
@use '../utils/mixin' as *;

.menu {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: #fff;

  box-sizing: border-box;
  padding: 24px 20px 40px;

  @include content-padd;

  height: 100vh;

  display: flex;
  flex-direction: column;

  opacity: 0;
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: all;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// #endregion
// #region aside

.menu__content {
  display: flex;
  flex-direction: column;
}

.menu__call-to-order {
  display: inline-block;
  text-transform: uppercase;
  align-self: flex-start;

  border-bottom: 2px solid $escuro;
  padding-bottom: 4px;
  margin-top: 16px;
}

.menu__phone-number {
  margin-top: 48px;
}
