@use '../utils/variables' as *;
@use '../utils/mixin' as *;

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  font-family: Manrope, sans-serif;
  line-height: 140%;
  color: #1b2129;
  letter-spacing: 0.15px;
}

.main {
  padding-inline: 20px;

  @include content-padd;
}
