@use '../utils/mixin' as *;
@use '../utils/variables' as *;

.recommended {
  @include page-grid;

  padding-block: 64px 84px;
  gap: 20px;

  &-title {
    grid-column: 1/-1;

    @include title-text;
    
  }

  &__prod {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 1/-1;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &-img {
      width: 100%;
    }

    &-price {
      font-weight: bold;
    }
  }
}