.page {
  background-color: #f0f8ff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__menu {
    display: flex;
    flex-direction: column;
    background-image: url(img/bgperson.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-style: none;
    list-style: none;
    &__bar {
      justify-content: space-between;
      margin-inline: 20px;
      list-style: none;
    }
  }

}