@use 'blocks/about';
@use 'blocks/categories';
@use 'blocks/contact';
@use 'blocks/info';
@use 'blocks/main';
@use 'blocks/menu';
@use 'blocks/nav';
@use 'blocks/page';
@use 'blocks/recomended';
@use 'blocks/reset';