$column: 2;

// colors
$escuro: #1b2129;
$info-desc: #191919;
$info-desc-hover: #010810;
$branc: #fff;
$title-gray: #9393a3;
$bg-claro: #fcfaef;
$but-orang: #f98921;
$but-orang-hover: #f98745;
$but-press: #010810;
$border-hover: #dbdbdb;

// radius button
$radiusb: 8px;

// width
$width-min: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1260px;
